*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    flex-direction: row;
    height: 120px;
    align-items: flex-start;
}
.box{
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: white;
    padding: 24px;
    width: 200px;
}
.box1{
    background-color: #00ffff;
    align-self: flex-end;
}
.box2{
    background-color: #0fff80;
}
.box3{
    background-color: #0082ff;
    align-self: flex-end;
}
.box4{
    background-color: #af0099;
}
.box5{
    background-color: #2c2c5c;
    align-self: flex-end;
}
.box6{
    background-color: #f0ff02;
}
.box7{
    background-color: #f08200;
    align-self: flex-end;
}
.box8{
    background-color: #ff0909;
}
.box9{
    background-color: #d0d0d0;
    align-self: flex-end;
}
.box10{
    background-color: #707070;
}